<!DOCTYPE html> <html>
<head>
    <meta charset="UTF-8" />
    <title>MGW - {% block pageTitle %}{% endblock %}</title>
    <style>
        @import '/css/flash.css';
    </style>
    {% block stylesheets %}{% endblock %}
</head>

    <body>
    <nav>
        <ul>
            <li>
                <a href="{{ path('student_list') }}">student actions</a>
            </li>
        </ul>
    </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
